{% extends 'base.html.twig' %}

{% block title %}Art index{% endblock %}

{% block body %}
    <h1>Art index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for art in art %}
            <tr>
                <td>{{ art.id }}</td>
                <td>{{ art.name }}</td>
                <td>{{ art.content }}</td>
                <td>{{ art.price }}</td>
                <td>
                    <a href="{{ path('app_art_show', {'id': art.id}) }}">show</a>
                    <a href="{{ path('app_art_edit', {'id': art.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_art_new') }}">Create new</a>
{% endblock %}
