{% extends 'base.html.twig' %}

{% block title %}Liste des arts{% endblock %}

{% block body %}
    <h1>Liste des arts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for art in art %}
            <tr>
                <td>{{ art.id }}</td>
                <td>{{ art.name }}</td>
                <td>{{ art.content }}</td>
                <td>{{ art.price }}</td>
                <td>
                    <a href="{{ path('app_art_show', {'id': art.id}) }}">Voir</a>
                    <a href="{{ path('app_art_edit', {'id': art.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_art_new') }}">Créer un nouvel art</a>
    <a href="{{ path('app_admin') }}">Retour au backoffice</a>
{% endblock %}
