{% extends 'base.html.twig' %}

{% block title %}Art{% endblock %}

{% block body %}
    <h1>Art</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ art.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ art.name }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ art.content }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ art.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if art.picture %}
                        <img src="{{ asset('images/' ~ art.picture) }}" alt="{{ art.name }}" style="max-width: 200px;">
                    {% else %}
                        Aucune image
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_art_index') }}">Retour à la liste</a>

    <a href="{{ path('app_art_edit', {'id': art.id}) }}">Modifier</a>

    {{ include('art/_delete_form.html.twig') }}
{% endblock %}
