<header class="site-header">
    <nav class="nav-inner">

        <div class="nav-left">
            <ul class="nav-links">
                <li>
                    <a href="{{ path('app_home') }}">
                        Products
                    </a>
                </li>

                {# Admin-only link — only visible to admins #}
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('app_admin') }}">
                        ⚙ Admin
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="nav-right">
                {% if app.user %}
                <a href="{{ path('app_my_basket') }}">
                    Panier
                </a>
                {% endif %}
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="nav-btn nav-btn--ghost">
                    Log out
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="nav-btn nav-btn--ghost">Log in</a>
                <a href="{{ path('app_register') }}" class="nav-btn nav-btn--primary">Register</a>
            {% endif %}
        </div>
    </nav>
</header>
