{% extends 'base.html.twig' %}

{% block title %}Liste des paniers{% endblock %}

{% block body %}
    <h1>Liste des paniers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>{{ basket.id }}</td>
                <td>
                    <a href="{{ path('app_basket_show', {'id': basket.id}) }}">Voir</a>
                    <a href="{{ path('app_basket_edit', {'id': basket.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_basket_new') }}">Créer un nouveau panier</a>
    <a href="{{ path('app_admin') }}">Retour au backoffice</a>
{% endblock %}
